table {
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse;
  border: 2px solid;
  width: 100%;
  margin: 10px auto;
  color: #686461;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
  border-bottom: 1px solid;
}
tr:nth-child(even) {
  background: #E8E6D1;
  border-bottom: 1px solid;
}
tr:hover {
  background: #c7e0fc; /* Цвет фона при наведении */
  color: black; /* Цвет текста при наведении */
  box-shadow: 0 0 30px rgba(0,0,0,0.6); /* Параметры тени */
  box-shadow:
    1px 1px 30px rgba(0,0,0,0.1),
    2px 2px 30px rgba(0,0,0,0.1),
    3px 3px 30px rgba(0,0,0,0.1),
    4px 4px 30px rgba(0,0,0,0.1),
    5px 5px 30px rgba(0,0,0,0.1),
    6px 6px 30px rgba(0,0,0,0.1),
    7px 7px 30px rgba(0,0,0,0.1);
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('../food-1.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 2px 2px 2px #333;
  background-image: linear-gradient( 135deg, #8f050069 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	margin-bottom: 30px;
}