
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>About Us</title>
       	<link rel="icon" type="image/png" href="../static/favicon.ico" />
   </head>
<body>
      <header>
         <div class="container">
            <h1> About Us </h1>
            <h3> <a href="https://vk.com/id83167575">Теплякова Анастасия</a></h3>
            <h3> <a href="https://vk.com/andrewdnsw">Денисов Андрей</a></h3>
            <h3> <a href="https://vk.com/mironchikserij">Миронов Сергей</a></h3>
             <p>******* Return to Pages ********</p>
            <strong>
               <nav>
                  <ul class="menu">
                     <li><a href="{{ url_for('index') }}">Home</a></li>
                     <li><a href="{{ url_for('search') }}">Search</a></li>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
   </body>
</html>
