<!DOCTYPE HTML>

<head>
  <title>Web-справочник по компьютерной технике "Unicorn"</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords"
    content="кафедра, онлайн, Россия, Обнинск, национальный, ядерный, университет, МИФИ, кафедра, КССТ, ИАТЭ, НИЯУ, компьютер, система, сети, информация, технологии, программирование, вычислительная, техника, кибернетика, веб, интеллект, obninsk, computer, system, network, information, technology, programming, software, hardware, INPE, NRNU, MEPhI, Obninsk, Russia, University, Nuclear, cybernetics, semantic, web">
  <meta name="description"
    content="Web-справочник по компьютерной технике. Intellectual search agents NRNU MEPHI Obninsk. Institute of Intelligent Cybernetic Systems MEPHI">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-language" content="ru">
  <meta name="author" content="Nikishin Alexandr, Tugolukov Nikita, Khrilev Max">
  <meta name="copyright" content="Nikishin Alexandr, Tugolukov Nikita, Khrilev Max">

  <!--[if lt IE 9]><meta http-equiv="Refresh" content="0;URL=http://unicorn.kl.com.ua/common/bad_browser.html"/><![endif]-->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/claro.css"
    media="screen">
  <link rel="stylesheet" type="text/css" href="http://unicorn.kl.com.ua/search_student/css/nuclear.css" media="screen">
</head>

<body class="claro" id="body" itemscope itemtype="http://schema.org/CollegeOrUniversity">
  <!-- Other elements -->
  <div id="banner" style="z-index:9999;"></div>
  <table width="100%" height="100%">
    <tr>
      <td height="100%">
        <div id="body_left" class="tit"></div>
      </td>
      <td height="100%" width="1004px"></td>
      <td height="100%">
        <div id="body_right" class="tit"></div>
      </td>
    </tr>
  </table>

  <!-- Content -->
  <div id="content">
    <div id="background">
      <center id='preloader_start'><img src='http://unicorn.kl.com.ua/search_student/css/images/loading.gif' alt=''>
      </center>
      <div id="make_fine">
        <!-- Результаты поиска -->
        <div id="global" class="demoLayout fine" data-dojo-type="dijit.layout.BorderContainer"
          data-dojo-props="design: 'sidebar'">
          <div id=" searchStack" class="centerPanel" style="border:0;" data-dojo-type="dijit.layout.StackContainer"
            data-dojo-props="region:'center',id:'searchStack'">
            <div id="s_web" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="selected:true" title="WWW">
              <div id="web"></div>
            </div>
            <div id="s_images" data-dojo-type="dijit.layout.ContentPane" title="Изображения">
              <div id="images"></div>
            </div>
            <div id="s_video" data-dojo-type="dijit.layout.ContentPane" title="Видео">
              <div id="video"></div>
            </div>
          </div>
          <div id="search_some_" class="edgePanel" data-dojo-type="dijit.layout.ContentPane"
            data-dojo-props="region:'top'">
            <div data-dojo-type="dijit.layout.StackController"
              data-dojo-props="containerId:'searchStack',selectChild:'s_web'"></div>
          </div>
        </div>

        <div id="semantic" class="demoLayout fine" data-dojo-type="dijit.layout.BorderContainer"
          data-dojo-props="design: 'sidebar'">
          <div id="semanticStack" class="centerPanel" data-dojo-type="dijit.layout.StackContainer"
            data-dojo-props="region:'center',id:'semanticStack'">
            <div id="s_lodlive" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="selected:true"
              title="Главная">
              <div id="lodlive">
                <p class="article">
                  <strong>Компьютерная техника</strong> — комплексное понятие, описывающее весь спектр производимых
                  компьютерных систем, от небольшого наладонника до сверхмощного суперкомпьютера. В
                  последнее время часто этим понятием обобщают также периферийное и офисное оборудование, а иногда даже
                  комплектующие для различных типов компьютеров, описываемые иначе, как аппаратное обеспечение. Тем не менее, чаще
                  всего, говоря о компьютерной технике, подразумевают сами компьютеры или отдельно стоящее
                  оборудование, которое работает совместно с компьютерами и обеспечивает некоторую дополнительную функциональность
                  (печать или сканирование документов, доступ к Сети, защиту от сбоев питания и т. п.).
                </p>
                <br />
                <img align="center" src="http://unicorn.kl.com.ua/search_student/images/laptop.png"
                  style="width: 60%;margin-left: 20%;margin-right: 20%;">
                <br />
                <p class="article">
                  Понятие компьютерной техники вбирает в себя не только аппаратное, но также и
                  программное обеспечение, устанавливаемое на данного типа устройствах и
                  обеспечивающее поддержку выполнения их базовых функций. Практически, сами устройства
                  и работающие на них программы рассматриваются в рамках него, как составляющие
                  единого аппаратно-программного комплекса.
                </p>
                <br />
                <p class="article">
                  <strong>Аппаратно-программный комплекс</strong> — совокупность технических и
                  программных средств,
                  позволяющая автоматизировать выполнение комплекса задач и обеспечивающая
                  функционирование электронных информационных ресурсов и информационных систем.
                </p>
                <br />
                <p class="article">
                  <strong>Виды компьютерной техники</strong>
                  <ul>
                    <li>
                      <p class="article">
                        - Компьютеры (суперкомпьютеры, мейнфреймы, кластеры, серверы, рабочие
                        станции, персональные компьютеры, ноутбуки, КПК и т. п.);
                      </p>
                    </li>
                    <li>
                      <p class="article">
                        - Компьютерная периферия (терминалы, принтеры, сканеры, плоттеры,
                        источники бесперебойного питания);
                      </p>
                    </li>
                    <li>
                      <p class="article">
                        - Сетевое оборудование (маршрутизаторы, коммутаторы, модемы и прочее).
                      </p>
                    </li>
                  </ul>

                </p>
              </div>
            </div>
            <div id="s_grab" data-dojo-type="dijit.layout.ContentPane" title="Поиск">
              <div id="grab">
                <div class='the_line'>
                  <div id='the_search_engines' align='left' class="search_option_top"></div>
                  <div id='the_context' align='center' class="search_option_top"></div>
                  <div id='the_sort' align='right' class="search_option_top"></div>

                  <div id='the_clone'>
                    <input type="text" name="request_clone" id="request_clone" value="" class="special_field_clone"
                      placeholder="Введите запрос...">
                    <div id="search_menu_button_clone" class="control_top" style="margin-left:3px;">
                    </div>
                  </div>

                  <div id='the_show' align='left' class="search_option_bottom"></div>
                  <div id='the_pareto' align='center' class="search_option_bottom"></div>
                  <div id='the_levenstain' align='right' class="search_option_bottom"></div>
                </div>
              </div>
            </div>
            <div id="s_annotation" data-dojo-type="dijit.layout.ContentPane" title="О нас">
              <div id="annotation">
                <p class="article">
                  Данный сайт спроектирован и разработан студентами группы ИВТ-М19 в рамках проектной
                  работы по предмету ТРПО.
                </p>
                <p class="article">
                  В разработке принимали участие Никишин Александр, Туголуков Никита, Хрылев Максим.
                </p>
              </div>
            </div>
          </div>
          <div align="center" id="semantic_some_" class="edgePanel" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'top'">
            <div data-dojo-type="dijit.layout.StackController" data-dojo-props="containerId:'semanticStack',selectChild:'s_grab'"></div>
          </div>
        </div>
        <div id="frame" class="fine"></div>
      </div>
    </div>

    <!-- Invisible elements -->
    <div>
      <div id="invisible_div" class="fine invisible"></div>
      <div id="invisible_ff" class="fine invisible"></div>
      <div id="invisible_dbpedia" class="fine invisible"></div>
      <div id="invisible_wikidata" class="fine invisible"></div>

      <div id="close_btn"></div>
      <div id="coming_search" title='Остановить поиск'></div>
      <div id="welcom" class="welcome_mess" align="center" title='Delete message'></div>
      <div id="alert" class="alert_mess" align="center" title='Delete message'></div>
    </div>

    <!-- Header -->
    <div id="header_wrap">
      <div id="header" align="center">
        <a class="mailto_header" target="_self" href="http://unicorn.kl.com.ua"
          title="На главную страницу сайта">Web-справочник по компьютерной технике</a>
      </div>
      <div id="control_wrap" align="center">
        <div id="choice" class="align_left control_top"></div>
        <div id="search" class="align_right control_top"></div>
        <input type="text" name="request" id="request" value="" class="align_right special_field" style=""
          placeholder="Введите запрос">
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div id="_footer_wrap" style="bottom:5px;">
    <div id="_footer_callback" align="center"></div>
    <div id="_footer_">
      <div id="_footer_popup_navigation_" align="left" style="cursor:default;">
        <p itemprop="name" id="_footer_no_flash" style="margin-left:25px;margin-top:3px;font-size:12px;">
          &copy;2020&nbsp;Unicorn - NRNU MEPHI</p>
      </div>

      <div id="_footer_right_wrap" align="right">
        <div id="_social" align="right" class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button"
          data-yashareQuickServices="facebook,twitter,lj,vkontakte,odnoklassniki,moimir,friendfeed,moikrug,yaru">
        </div>
      </div>
    </div>
  </div>

  <p id="back-top"><a href="#top"><span></span>Наверх</a></p>
  <div id="_footer_navigation"></div>
  <br id="dummy">

  <!-- Скрипты -->
  <script type="text/javascript">
    var user_authorized = 'true';
    var user_name = 'true';
    var user_rank_name = 'true';
    var user_has_rank = 'true';
    var cloud_holder = 'http://unicorn.kl.com.ua/dojo_tree/json/';
    var stock_holder = 'http://unicorn.kl.com.ua/search_student/stock/';
    var software_holder = 'http://unicorn.kl.com.ua/search_student/';
    var blank_image = 'http://unicorn.kl.com.ua/common/blank.png';
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js" data-dojo-config="async:true, parseOnLoad:true"></script>
  <script>require(["dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dijit/layout/StackContainer", "dijit/layout/StackController", "dojo/parser"]);</script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://unicorn.kl.com.ua/search_student/script/nuclear_engine.js"></script>
  <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
</body>
<noscript>
  <meta http-equiv="Refresh" content="0;URL=http://unicorn.kl.com.ua/common/no_javascript.html" />
</noscript>